.dialog
{
    width: 100vw;
}


.groupInfoDialog {
    text-align: center;
}

.groupImg {
    background-color: white;
    border-radius: 10%;
    width: 200px;
}

.isNotActive {
    color: gray;
}

.filters {
    padding: 0;
}

.filters li {
    display:inline;
    margin-left: 5px;
    margin-right: 5px;
    cursor: default;
}