<div id="themeContainer">
    <mat-drawer-container autosize>
        <mat-drawer [mode]="mobile ? 'over' : 'side'" [opened]="sidebarOpen">
            <mat-list>
                <app-group *ngFor="let group of groups" [group]="group"></app-group>
            </mat-list>
        </mat-drawer>
        <mat-drawer-content class="dashboardContent">
            <div class="routerOutlet">
                <app-group-chat [chat]="selectedChat"></app-group-chat>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</div>
