
<div id="themeContainer">
    <mat-drawer-container autosize>
        <mat-drawer [mode]="mobile ? 'over' : 'side'" [opened]="sidebarOpen" (closed)="closedSidenav()">
            <mat-list class="sidebar">
                <div *ngFor="let group of groups | sortBy:'desc': 'last'">
                    <app-group [chat]="group"></app-group>
                </div>
            </mat-list>

            <button mat-flat-button (click)="logout()" id="logoutBtn">Logout</button>
        </mat-drawer>
        <mat-drawer-content id="chatWindow">
            <mat-card class="header">
                <div *ngIf="mobile">
                    <button mat-flat-button (click)="showSidenav()">Show Groups</button>
                </div>
                <mat-card-title>
                    {{selectedChat.name}}
                </mat-card-title>
                <mat-card-subtitle>
                    {{formattedNames()}}
                </mat-card-subtitle>

                <button mat-flat-button (click)="this.openDialog();" class="groupInfo">i</button>
            </mat-card>

            <div class="chats">
                <app-group-chat [chat]="selectedChat"></app-group-chat>
            </div>

            <mat-form-field class="input">
                <mat-toolbar>
                    <input (keydown.enter)="send(inputElement.value); inputElement.value = ''" #inputElement matInput placeholder="Send as {{username}}" value="" autocomplete="off" id="messageInput">
                </mat-toolbar>
                <mat-error>Test</mat-error>
            </mat-form-field>
        </mat-drawer-content>
    </mat-drawer-container>
</div>
