.selfsend
{
    background: rgb(96, 96, 96);

    width: 75%;

    float: right;
}

.othersend
{
    width: 75%;

    float: left;
}

.message
{
    margin-bottom: 1vh;
}

.accentColor
{
    color: #FF7B51;
}